h1 {
    text-align: center;
    margin: 0;
}

p:first-of-type {
    text-align: center;
}

p:first-of-type > strong {
    text-decoration: underline;
}

#jogo {
    border: black 3px solid;
    width: 100%;
    display: inline-block;
    margin: 16px
}

#jogo>.row {
    margin: 0;
    display: flex;
}

#jogo>.row>.col {
    height: 22vh;
    width: calc(100% / 3);
    border: black 1px solid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#botoes,.placar {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 12px;
}

.placar > div{display: flex;
    min-width: 200px;
    border: black 1px solid;
    margin: 8px;
    padding: 4px
}

.ponto_o{
    margin-left: 189.5px;
}

.marcacao_x {
    background: url("./imgs/X.png")
}

.marcacao_o {
    background: url("./imgs/O.png")
}

.marcacao_vencimento {
    background-color: red;
}