#jogo {
    border: black 3px solid;
    width: 100%;
    display: block;
    margin: auto
}

#jogo>.row {
    margin: 0;
    display: flex;
}

#jogo>.row>.col {
    height: 25vh;
    width: calc(100% / 3);
    border: black 1px solid;
    background-repeat: no-repeat;
    background-position: center;
}

.marcacao_x {
    background: url("./imgs/x_JogodaVelha01.jpg")
}

.marcacao_o {
    background: url("./imgs/o_JogodaVelha02.jpg")
}